html {
font-size: 14px;
}

@media (min-width: 768px) {
html {
font-size: 16px;
}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
position: relative;
min-height: 100%;
}

body {
margin-bottom: 60px;
background-color: #White;
}

.btn {
background-color: rgb(193, 72, 41) !important;
color: white !important;
}

.input-group-text i {
color: rgb(193, 72, 41);
}

.custom-card {
border-radius: 15px;
background-color: #ffffff;
box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.form-floating-icon {
position: relative;
}

.form-floating-icon input {
padding-left: 2.5rem;
height: 3.5rem;
}

.form-floating-icon .input-icon {
position: absolute;
top: 50%;
left: 0.75rem;
transform: translateY(-50%);
color: rgb(193, 72, 41);
font-size: 1rem;
}

.form-floating-icon .form-control:focus ~ label,
.form-floating-icon .form-control:not(:placeholder-shown) ~ label {
transform: scale(0.85) translateY(-2rem) translateX(0.5rem);
opacity: 1;
}

.form-floating-icon label {
position: absolute;
top: 50%;
left: 2.5rem;
transform: translateY(-50%);
transform-origin: left top;
transition: 0.2s ease all;
opacity: 0.6;
pointer-events: none;
}

    /* Asegura el padding correcto para el select */
    .form-floating-icon select.form-select {
        padding-left: 2.5rem;
        height: 3.5rem;
        appearance: none;
        background-color: #fff;
    }
        .form-floating-icon select.form-select:focus ~ label,
        .form-floating-icon select.form-select:not(:placeholder-shown) ~ label,
        .form-floating-icon select.form-select:valid ~ label {
            transform: scale(0.85) translateY(-2rem) translateX(0.5rem);
            opacity: 1;
        }

.form-floating-icon .input-icon {
position: absolute;
top: 50%;
left: 0.75rem;
transform: translateY(-50%);
color: rgb(193, 72, 41);
font-size: 1rem;
}