@page
@using WEB.Util
@model WEB.Pages.Auth.PasswordChangedModel
@{
    ViewData["Title"] = "Iniciar sesión";
    var usuario = SessionUtil.GetUser(HttpContext);
    if (usuario != null)
    {
        Response.Redirect("../Index");
    }
}

<div class="container mt-4">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="p-4 custom-card">
                    <h3 class="text-center mb-4"><i class="fa fa-lock"></i> Cambiar contraseña</h3>
                    <div class="alert alert-danger">
                        <span>¡Contraseña cambiada con éxito!</span>
                    </div>
                    <div class="d-grid">
                        <a class="btn" style="background-color: rgb(193, 72, 41); color: white;" asp-page="../Index">Volver al inicio</a>
                    </div>
                    <div class="alert alert-warning d-flex align-items-center mt-4" role="alert">
                        <i class="fas fa-exclamation-triangle me-2" style="font-size: 1.2rem;"></i>
                        <div>
                            <strong>¡Advertencia importante!</strong> No compartas esta contraseña con nadie.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>