@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Crear nueva cuenta.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NuevoUsuario.Nombre"></label>
                <input asp-for="NuevoUsuario.Nombre" class="form-control" />
                <span asp-validation-for="NuevoUsuario.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NuevoUsuario.Email"></label>
                <input asp-for="NuevoUsuario.Email" class="form-control" />
                <span asp-validation-for="NuevoUsuario.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NuevoUsuario.Contraseña"></label>
                <input asp-for="NuevoUsuario.Contraseña" type="password" class="form-control" />
                <span asp-validation-for="NuevoUsuario.Contraseña" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}