@page
@model WEB.Pages.Admin.Entities.Usuarios.ResetPassword
@{
    ViewData["Title"] = "Usuario";
    <div class="container mt-4">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="p-4 custom-card">
                        <h3 class="text-center mb-4"><i class="fas fa-user-tie me-2"></i>Editar @ViewData["Title"]</h3>
                        
                        <form method="post">
                            <input type="hidden" class="form-control" readonly asp-for="Usuario.Contraseña" placeholder=" " />

                            <div class="form-floating-icon mb-3">
                                <i class="fas fa-user-tag input-icon"></i>
                                <input type="text" class="form-control" readonly asp-for="Usuario.Nombre" placeholder=" " />
                                <label>Nombre de Usuario</label>
                            </div>
                            <div class="form-floating-icon mb-3">
                                <i class="fas fa-envelope input-icon"></i>
                                <input type="text" class="form-control" readonly asp-for="Usuario.Email" placeholder=" " />
                                <label>Correo</label>
                            </div>
                            <div class="form-floating-icon mb-3">
                                <i class="fas fa-envelope input-icon"></i>
                                <input type="text" class="form-control" readonly asp-for="Usuario.Rol.Nombre" placeholder=" " />
                                <label>Rol</label>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a class="btn" style="background-color: rgb(109, 41, 193); color: white;" asp-page="Index">
                                    <i class="fas fa-arrow-left me-2"></i>Volver
                                </a>
                                <button type="submit" class="btn" style="background-color: rgb(193, 72, 41); color: white;">
                                    <i class="fas fa-save me-2"></i>Cambiar contraseña
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
